<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Contacto</display-name>
    <servlet-name>Contacto</servlet-name>
    <servlet-class>controlador.Contacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contacto</servlet-name>
    <url-pattern>/Contacto</url-pattern>
  </servlet-mapping>
  <display-name>HandSolo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearCapacitacion</display-name>
    <servlet-name>CrearCapacitacion</servlet-name>
    <servlet-class>controlador.CrearCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCapacitacion</servlet-name>
    <url-pattern>/CrearCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>controlador.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCapacitaciones</display-name>
    <servlet-name>ListarCapacitaciones</servlet-name>
    <servlet-class>controlador.ListarCapacitaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitaciones</servlet-name>
    <url-pattern>/ListarCapacitaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>controlador.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSession</display-name>
    <servlet-name>CerrarSession</servlet-name>
    <servlet-class>controlador.CerrarSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSession</servlet-name>
    <url-pattern>/CerrarSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuario</display-name>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>controlador.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuario</display-name>
    <servlet-name>ListarUsuario</servlet-name>
    <servlet-class>controlador.ListarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuario</servlet-name>
    <url-pattern>/ListarUsuario</url-pattern>
  </servlet-mapping>
  
</web-app>