<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Contacto</display-name>
    <servlet-name>Contacto</servlet-name>
    <servlet-class>controlador.Contacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contacto</servlet-name>
    <url-pattern>/Contacto</url-pattern>
  </servlet-mapping>
  <display-name>HandSolo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearCapacitacion</display-name>
    <servlet-name>CrearCapacitacion</servlet-name>
    <servlet-class>controlador.CrearCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCapacitacion</servlet-name>
    <url-pattern>/CrearCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>controlador.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCapacitaciones</display-name>
    <servlet-name>ListarCapacitaciones</servlet-name>
    <servlet-class>controlador.ListarCapacitaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitaciones</servlet-name>
    <url-pattern>/ListarCapacitaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>controlador.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSession</display-name>
    <servlet-name>CerrarSession</servlet-name>
    <servlet-class>controlador.CerrarSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSession</servlet-name>
    <url-pattern>/CerrarSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuario</display-name>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>controlador.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuario</display-name>
    <servlet-name>ListarUsuario</servlet-name>
    <servlet-class>controlador.ListarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuario</servlet-name>
    <url-pattern>/ListarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarCliente</display-name>
    <servlet-name>EditarCliente</servlet-name>
    <servlet-class>controlador.EditarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarCliente</servlet-name>
    <url-pattern>/EditarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProfesional</display-name>
    <servlet-name>EditarProfesional</servlet-name>
    <servlet-class>controlador.EditarProfesional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProfesional</servlet-name>
    <url-pattern>/EditarProfesional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarAdministrativo</display-name>
    <servlet-name>EditarAdministrativo</servlet-name>
    <servlet-class>controlador.EditarAdministrativo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarAdministrativo</servlet-name>
    <url-pattern>/EditarAdministrativo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuario</display-name>
    <servlet-name>EditarUsuario</servlet-name>
    <servlet-class>controlador.EditarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuario</servlet-name>
    <url-pattern>/EditarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarUsuario</display-name>
    <servlet-name>EliminarUsuario</servlet-name>
    <servlet-class>controlador.EliminarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuario</servlet-name>
    <url-pattern>/EliminarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarCliente</display-name>
    <servlet-name>EliminarCliente</servlet-name>
    <servlet-class>controlador.EliminarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarCliente</servlet-name>
    <url-pattern>/EliminarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProfesional</display-name>
    <servlet-name>EliminarProfesional</servlet-name>
    <servlet-class>controlador.EliminarProfesional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProfesional</servlet-name>
    <url-pattern>/EliminarProfesional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarAdministrativo</display-name>
    <servlet-name>EliminarAdministrativo</servlet-name>
    <servlet-class>controlador.EliminarAdministrativo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarAdministrativo</servlet-name>
    <url-pattern>/EliminarAdministrativo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCliente</display-name>
    <servlet-name>ListarCliente</servlet-name>
    <servlet-class>controlador.ListarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCliente</servlet-name>
    <url-pattern>/ListarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProfesional</display-name>
    <servlet-name>ListarProfesional</servlet-name>
    <servlet-class>controlador.ListarProfesional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProfesional</servlet-name>
    <url-pattern>/ListarProfesional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarAdministrativo</display-name>
    <servlet-name>ListarAdministrativo</servlet-name>
    <servlet-class>controlador.ListarAdministrativo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarAdministrativo</servlet-name>
    <url-pattern>/ListarAdministrativo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarCapacitacion</display-name>
    <servlet-name>EliminarCapacitacion</servlet-name>
    <servlet-class>controlador.EliminarCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarCapacitacion</servlet-name>
    <url-pattern>/EliminarCapacitacion</url-pattern>
  </servlet-mapping>
</web-app>